/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'edubridge';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff; /* Pure White */
  --color-base-200: #e8eef8; /* Mist Blue background */
  --color-base-300: #c9ced8; /* Stone Gray */

  --color-base-content: #0f1a33; /* Deep Navy - text */

  --color-primary: #0f1a33; /* Deep Navy */
  --color-primary-content: #ffffff;

  --color-secondary: #244c98; /* Sapphire Blue */
  --color-secondary-content: #ffffff;

  --color-accent: #e8eef8; /* Mist Blue */
  --color-accent-content: #0f1a33;

  --color-neutral: #c9ced8; /* Stone Gray */
  --color-neutral-content: #0f1a33;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather Sans', sans-serif;
}
